<!doctype html>
<html lang="{{ locale|default('en')|replace({'_': '-'}) }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ head|raw }}
</head>
<body>
    <div data-theme="unified">
        {{ content|raw }}
    </div>
</body>
</html>
